* {
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
.hidden {
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  display: inline-block;
}
#content {
  display: flex;
  justify-content: center;
}
#content > article {
  width: 1200px;
  min-width: 350px;
}
