#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#findPassword-form {
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 3rem;
  margin-top: 3.5rem;
  border-top: 2px solid #c6c6c6;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 5px 8px 0 rgb(68 68 68);
}
#findPassword-form > .title {
  color: #404040;
  margin: 0 0 0.4rem 0.4rem;
}
#findPassword-form > .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1.8rem 0 1.8rem 1rem;
  border-top: 3px solid #dadada;
  border-bottom: 3px solid #dadada;
  row-gap: 0.5rem;
}
.form-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}
.form-control label {
  color: #666666;
  width: 30%;
  flex-grow: 3;
}
.form-control input {
  border: 1px solid #dadada;
  flex-grow: 7;
  padding: 8px 12px;
}
.form-control input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%),
    0 0 8px rgb(102 175 233 / 60%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}
.form-control input::-webkit-input-placeholder {
  font-size: 14px;
}
.form-control input::-moz-placeholder {
  font-size: 14px;
}
.form-control input:-ms-input-placeholder {
  font-size: 14px;
}
.form-control input:-moz-placeholder {
  font-size: 14px;
}
.form-control input::placeholder {
  font-size: 14px;
}
#findPassword-form > .findPasswordBtn {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 13px 0 13px;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #db7632;
  transition: background-color 0.3s ease;
}
#findPassword-form > .findPasswordBtn:hover {
  background-color: #d35400;
}
