:root {
  --shadow: rgba(0, 0, 0, 0.8);
}

body {
  width: 100vw;
  /* 스크롤바 가리기 */
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}
.main-header > .title {
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  line-height: 28px;
}
.main-header form {
  width: calc(100% - 30px);
  max-width: 600px;
  margin-top: 34px;
}
.main-header .main-search {
  height: 48px;
  border: 1px solid #ff792a;
  border-radius: 50px;
  background-color: #ffffff;
  position: relative;
}
.main-search > legend {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden;
}
.main-search > .search-word {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* 아래 속성들에 의해 .main-search의 width 결정 */
  right: 110px;
  left: 48px;
}
.main-search .search_icon {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -27px;
  width: 20px;
}
.search_icon .fa-search {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main-search #main-search {
  border: 0px;
}
/* input 박스 클릭 시 테두리 색상 없애기 */
.main-search #main-search:focus {
  outline: none;
}
.main-search .clear_btn {
  display: none;
}
.main-header {
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/main_thumbnail.jpg');
}
.main-header .btn-search {
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  width: 110px;
  font-size: 0.813rem;
  color: #ffffff;
  line-height: 46px;
  border-radius: 50px;
  background-color: #ff7100;
  -webkit-appearance: none;
  /* 버튼 테두리 없애기 */
  border: 0;
  outline: 0;
  cursor: pointer;
}

.popular_top_list_wrap {
  margin-top: 60px;
}
.popular_top_list_wrap .title_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.popular_top_list_wrap .title_wrap > .title {
  font-size: 18px;
  color: #ff7100;
}
.popular_top_list_wrap .title_wrap > a {
  font-size: 14px;
  text-decoration: underline;
  color: #cbcbcb;
}
.popular_top_list_wrap .toplist-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.popular_top_list_wrap .top_list_slide {
  max-width: 350px;
  height: 300px;
  overflow: scroll;
}
.popular_top_list_wrap .main_popular_cafe_list {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  cursor: grab;
}
.main_popular_cafe_list .cafe-item {
  width: calc(100% - 30px);
  min-width: 350px;
  height: 300px;
  max-height: 300px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 50px -1px var(--shadow);
}
.main_popular_cafe_list .cafe-item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
}
.main_popular_cafe_list .cafe-item .thumb img {
  filter: brightness(50%);
  max-height: 100%;
}
.cafe-item .info .title {
  font-size: 20px;
  font-weight: bold;
  display: block;
  position: relative;
  margin-bottom: 16px;
}
.cafe-item .info .title::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
}
.cafe-item .info .address {
  font-size: 16px;
  margin-bottom: 30px;
}
.cafe-item .info .point {
  font-size: 30px;
  position: relative;
  display: block;
}
.popular_top_list_wrap .slide-dots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin-top: 30px;
}
.slide-dots > li {
  position: relative;
  /* 텍스트 숨기기 */
  text-indent: -9999px;
}
.slide-dots > li > button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
}
.slide-dots > li.active > button::before {
  background: #ff7100;
}
