#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#register-form {
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  padding: 2rem 1rem;
  margin-top: 3.5rem;
  border: 1px solid #c6c6c6;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 5px 8px 0 rgb(68 68 68);
}
#register-form > .title {
  margin: 2rem auto;
}
#preview-image {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#input-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}
#register-form > .registerBtn {
  display: block;
  width: 100%;
  margin-top: 1.2rem;
  padding: 13px 0 13px;
  border-radius: 6px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-weight: bold;
  background-color: #db7632;
  transition: background-color 0.3s ease;
}
#register-form > .registerBtn:hover {
  background-color: #d35400;
}
.form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.form-control > label {
  margin-bottom: 0.3rem;
}
.form-control > .input-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.form-control > .nickname-wrap,
.form-control > .emailInput-wrap {
  column-gap: 10%;
}
.nickname-wrap > .nickname-check,
.input-wrap > .email-check {
  flex-shrink: 0;
  flex-basis: 80px;
  padding: 0.2rem 0.1rem;
  cursor: pointer;
  border-radius: 1rem;
}
.input-wrap > input {
  width: 100%;
  padding: 0.3rem 0.4rem;
}
.input-wrap > .icon-wrap {
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translateY(-56%);
  color: #888;
  font-size: 0.7rem;
}
.input-wrap > .emailIcon-wrap {
  right: calc(80px + 14%);
}
.input-wrap > .icon-wrap.pwd-reveal {
  cursor: pointer;
}
.form-control > .verify-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.4rem;
}
.verify-wrap > .verify-status {
  color: #888;
  font-size: 0.7rem;
  margin: 0 1rem;
}
.verify-wrap > .emailVerifyBtn {
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
