.modal-overlay {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 100;
}
/* navigation modal */
.nav-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  padding: 0.5rem 1rem 2rem;
  background: #db7632;
  z-index: 1000;
  transition: left 0.5s ease-in-out;
}
.nav-modal .modal__top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.nav-modal .modal__top .modal__close-btn {
  display: flex;
  flex-direction: center;
  align-items: center;
  padding: 10px 15px;
  color: #000;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.nav-modal .modal__content .nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.125rem;
}
.nav-menu .nav-menu__item:first-child {
  margin-bottom: 20px;
}
.nav-menu .nav-menu__item:not(:first-child) {
  text-align: center;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.nav-menu .nav-menu__item:nth-child(2) {
  -webkit-box-shadow: 0 8px 6px -6px black, 0 -8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black, 0 -8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black, 0 -8px 6px -6px black;
}
.nav-menu .nav-menu__item a {
  display: block;
  padding: 20px 0;
  cursor: pointer;
}
.nav-menu .nav-menu__item:first-child a {
  width: 80%;
  margin: 0 auto;
  background: black;
  border-radius: 30px;
  color: #ffffff;
  text-align: center;
}

.nav-modal.active {
  left: 0;
  transition: left 0.5s ease-in-out;
}
.nav-modal.active + .modal-overlay {
  display: block;
}

@media (max-width: 414px) {
  .nav-modal .modal__content .nav-menu {
    font-size: 1rem;
  }
}
@media (min-width: 450px) {
  .nav-modal {
    max-width: 360px;
    left: -360px;
  }
}

/* search-modal */
.search-modal {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  z-index: 100;
}
.search-modal.active {
  display: flex;
}
.search-modal .modal__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3vw 0;
}
.search-modal .modal__top .modal__close-btn {
  position: absolute;
  top: 20%;
  left: 1rem;
  z-index: 103;
}
.search-modal .modal__top .search-form {
  flex: 0.95;
  position: relative;
}
.search-form label {
  width: 100%;
}
.search-form label .search-form__input {
  display: inline-block;
  width: 100%;
  height: inherit;
  padding: 1vw 5rem 1vw 2.5rem;
  border: none;
  border-bottom: 2px solid #222;
  font-size: 1.125rem;
}
.search-modal .modal__top .modal__close-btn,
.search-form label .search-form__submit-btn {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.search-form .search-form__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.search-modal .modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.search-modal .modal__content .recent-keyword {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.search-modal .modal__content .recent-keyword__heading {
  font-size: 0.75rem;
  font-weight: bold;
  width: 100%;
  margin: 5rem 0 0.5rem 1.5rem;
}
.recent-keyword .recent-keyword__list {
  width: 100%;
}
.recent-keyword__item {
  width: 100%;
  font-size: 1rem;
  line-height: 1.2rem;
  background: rgba(0, 0, 0, 0);
  transition: background-color 0.1s linear;
}
.recent-keyword__item a,
.recent-keyword__list .empty-keyword-message {
  display: block;
  padding: 1rem 1.5rem;
  cursor: pointer;
  position: relative;
}
.recent-keyword__item a:after {
  content: '';
  position: absolute;
  left: 1rem;
  bottom: 0;
  height: 1px;
  width: calc(100% - 1rem);
  background: #e0e0e0;
}
.recent-keyword__item:hover {
  background: #f2f2f2;
}
