.password-update-modal {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #ffffff;
  border: 3px solid black;
  z-index: 110;
}

.password-update-modal .modal__top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #3b3b3b;
}
.password-update-modal .modal__top .modal__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
}
.password-update-modal .modal__top .modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}
.password-update-modal .modal__content {
  padding: 1rem 0 1rem 1rem;
}
.password-update-modal .password-update div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.password-update-modal .password-update .email-address {
  margin-right: 1rem;
}
.password-update-modal .send-mail-req-btn {
  padding: 0.25rem 0.75rem;
  background-color: #2e9cdf;
  border: 1.5px solid black;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  color: #fff;
  cursor: pointer;
}
.password-update-modal .send-mail-desc {
  font-size: 0.75rem;
  color: var(--color-pastelblue);
}
.password-update-modal.show-flex ~ .modal-overlay {
  display: block;
}
