.cafe-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 1.5rem 0;
  border: 1px solid black;
  transition: transform 0.3s;
}
.cafe-item:hover {
  transform: translate(0, -0.5rem);
}
.cafe-item__heading {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  cursor: pointer;
}
.cafe-item__heading a:hover {
  color: #2e9cdf;
  text-decoration: underline;
  text-decoration-color: #2e9cdf;
}
.cafe-item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
}
.cafe-item__content .cafe-jibun-address {
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
}
.cafe-item__content .like-box {
  font-size: 1.25rem;
}
.cafe-item__content .select-menu-box {
  position: absolute;
  top: 0.25rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}
.select-menu-box .select-menu-btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media (max-width: 414px) {
  .cafe-item__heading {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
  }
  .cafe-item__content .cafe-jibun-address {
    padding-bottom: 0.25rem;
    font-size: 0.6rem;
  }
  .cafe-item__content .like-box {
    font-size: 0.75rem;
  }
  .cafe-item__content .select-menu-box {
    top: 0;
    right: 0.25rem;
  }
}

