#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#password-update-form {
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 3rem;
  margin-top: 3.5rem;
  border-top: 2px solid #c6c6c6;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 5px 8px 0 rgb(68 68 68);
}
#password-update-form > .title {
  color: #404040;
  margin: 0 0 0.4rem 0.4rem;
}
#password-update-form > .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1.8rem 0 1.8rem 1rem;
  border-top: 3px solid #dadada;
  border-bottom: 3px solid #dadada;
  row-gap: 0.5rem;
}
#password-update-form .form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
#password-update-form .form-control label {
  margin-bottom: 0.3rem;
  color: #666666;
}
#password-update-form .form-control > .input-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
#password-update-form .form-control input {
  width: 100%;
  padding: 0.3rem 0.4rem;
  border: 1.5px solid #dadada;
}
.form-control input::-webkit-input-placeholder {
  font-size: 14px;
}
.form-control input::-moz-placeholder {
  font-size: 14px;
}
.form-control input:-ms-input-placeholder {
  font-size: 14px;
}
.form-control input:-moz-placeholder {
  font-size: 14px;
}
.form-control input::placeholder {
  font-size: 14px;
}
.form-control .input-wrap {
  position: relative;
}
.form-control .input-wrap > .icon-wrap {
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translateY(-56%);
  color: #888;
  font-size: 0.7rem;
}
.form-control .input-wrap > .icon-wrap.pwd-reveal {
  cursor: pointer;
}
.form-desc p {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  color: #6d6d6d;
}
#password-update-form .form-control .error-message {
  margin-top: 0.25rem;
  visibility: hidden;
  color: #e74c3c;
}
#password-update-form .form-control.error .error-message {
  visibility: visible;
}
#password-update-form .form-control.success input {
  border-color: #2ecc71;
}
#password-update-form .form-control.error input {
  border-color: #e74c3c;
}

#password-update-form > .password-update-btn {
  display: block;
  width: 100%;
  margin-top: 1.2rem;
  padding: 13px 0 13px;
  border-radius: 6px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #db7632;
  color: #ffffff;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
#password-update-form > .password-update-btn:hover {
  background-color: #d35400;
}
